@model List<JuegoDeMesaModel>
<div class="row">
    <div class="col-md-6">
        <h3>Listado de Juegos de mesa</h3>
    </div>
    <div class="col-md-6">
        <a asp-controller="JuegosDeMesa" asp-action="Nuevo" class="btn btn-primary float-lg-right "><i class="bi bi-plus-circle"></i> Nuevo</a>
    </div>
</div>
<hr />
@foreach (var juego in Model)
{
<div class="ml-5">
    <div>
        <h3>@juego.Nombre (@juego.Anio) </h3>
    </div>
    <div class="row ">
        <div class="col-md-3">
            <span>
                <img src="@juego.PortadaUrl" style="width:225px;height:315px" />
            </span>
        </div>
        <div class="col-md-6 ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/@juego.Trailer"
                    frameborder="0" allow="accelerometer;autoplay;encrypted-media;gyroscope;picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="mt-5">
        <h3>Descripción</h3>
        <p>@juego.Descripcion</p>
    </div>
    <div class="mt-2">
        <p>@juego.NumJugadoresMin - @juego.NumJugadoresMax Jugadores</p>
    </div>
    <div class="mt-2">
        <p>Duración: @juego.DuracionMin - @juego.DuracionMax Min </p>
    </div>
    <div class="mt-2">
        <p>Edad: @juego.Edad +</p>
    </div>
    <div class="mt-2">
        <p>Diseñador:</p>
        @foreach (var disenador in juego.Disenadores)
                {
                    <a asp-controller="Disenadores" asp-action="Jdmdisenador" asp-route-id="@disenador.Id">@disenador.Nombre</a>
                }
    </div>
    <div class="mt-2">
        <p>Categoría: </p>
        <ul>

            @foreach (var categoria in juego.Categorias)
            {
                <li>@categoria</li>
            }

        </ul>

    </div>
    <div class="mt-2">
        <p>Mecánica: </p>
        <ul>

            @foreach (var mecanica in juego.Mecanicas)
            {
                <li>@mecanica</li>
            }

        </ul>
    </div>
    <div>
        <a asp-controller="JuegosDeMesa" asp-action="Editar">Editar</a> | <a asp-controller="JuegosDeMesa" asp-action="Eliminar">Eliminar</a>
    </div>
</div>
<hr />
}